<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include("partials/header") %>
        <div class="container">
            <div class="card error-container">
                <h1 class="error-code">
                    <%= status %>
                </h1>
                <p>
                    <%= message %>
                </p>
                <p>Something went wrong. Try again.</p>

                <a href="/upload" class="error-home">Go Home</a>
            </div>
        </div>
</body>

</html>