<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>
        <%= folder.name %>
    </title>
</head>

<body>
    <div class="container">
        <div class="card">
            <h2 class="folder-title">Shared Folder: <%= folder.name %>
            </h2>

            <ul class="file-list">
                <% folder.files.forEach(file=> { %>
                    <li class="file-item">
                        <span class="file-name">
                            <%= file.filename %>
                        </span>
                        <a class="file-link" href="<%= file.url %>" target="_blank">
                            View File
                        </a>
                    </li>
                    <% }) %>
            </ul>
        </div>
    </div>
</body>

</html>