<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include("partials/header") %>
        <div class="container">
            <div class="card">
                <h2>Upload File</h2>

                <!-- ERROR MESSAGE -->
                <% if (error) { %>
                    <p class="error-message">
                        <%= error %>
                    </p>
                    <% } %>

                        <form action="/upload" method="POST" enctype="multipart/form-data">

                            <!-- Hidden real input -->
                            <input type="file" id="fileInput" name="file" required hidden />

                            <!-- Custom button -->
                            <label for="fileInput" class="file-label">
                                Choose File
                            </label>

                            <!-- File name display -->
                            <span id="fileName">No file selected</span>

                            <select name="folderId">
                                <option value="">No Folder</option>
                                <% folders.forEach(folder=> { %>
                                    <option value="<%= folder.id %>">
                                        <%= folder.name %>
                                    </option>
                                    <% }) %>
                            </select>

                            <button type="submit">Upload</button>
                        </form>
            </div>
        </div>

        <script>
            const fileInput = document.getElementById("fileInput");
            const fileName = document.getElementById("fileName");

            fileInput.addEventListener("change", () => {
                fileName.textContent = fileInput.files.length > 0
                    ? fileInput.files[0].name
                    : "No file selected";
            });
        </script>
</body>

</html>